{% include 'header.twig' %}

<div class="about">
    
    <p>
        We are a community of people interested in free software and free culture. Here at <em>freepost</em> we share interesting links, articles, and stories related to these topics.
    </p>
    <p>
        Please read this page before using the website.
    </p>
    
    <h3 id="who">
        Who maintains <em>freepost</em>?
    </h3>
    <p>
        <em>freepost</em> is maintained by <a href="http://peers.community">Peers</a>. We are part of a highly motivated community of people with a strong interest in free culture.
    </p>
    
    <h3 id="what-to-post">
        What to post
    </h3>
    <p>
        The general rule is: anything related to free software and free culture, that is interesting to you, and that you think other like-minded people will find interesting too.
    </p>
    <p>
        You are free to submit any links ranging from software, to art, science, and politics, as long as they have some interesting relevance with free culture. This means that most posts about proprietary software, politics, religion, sport, or meme are off-topic.
    </p>
        
    <h3 id="how-to-post">
        How to post
    </h3>
    <p>
        Use a concise and (if possible) objective title. Do <strong>not</strong> use clickbait titles.
    </p>
    <p>
        Link to the original source whenever possible: avoid ads, paywalls, and content farms.
    </p>
    <p>
        Please do not submit too many links at once.
    </p>
    
    <h3 id="how-to-comment">
        How to comment
    </h3>
    <p>
        In short: don't be a dick. Keep the discussion civil, do not insult other people, and do not start flamewars. Do not spam, and try to avoid "+1 comments" as well as unconstructive criticism. They add nothing to the conversation, and we try our best to keep discussions interesting.
    </p>
    <p>
        Unless malice is overwhelmingly evident, assume good intentions whenever reading and responding others’ comments. We do <strong>not</strong> tolerate insults, threats, or harassment.
    </p>
    
    <h3 id="terms-of-use">
        Terms of Use
    </h3>
    <p>
        By using this website, you irrevocably agree to release your posts and comments under the <a href="http://creativecommons.org/licenses/by/4.0">CC BY 4.0</a> License. A link is sufficient for CC BY 4.0 attribution.
    </p>
    <p>
        The website is offered in the hope that it will be useful, but we do not assume any sort of legal responsibility or liability and we do not offer any sort of warranty. We cannot be held responsible for any misuse or money loss derived from the use of the website.
    </p>
    <p>
        By using the website you agree to accept the terms of services written on this page.
    </p>
    
    <h3 id="privacy-policy">
        Privacy Policy
    </h3>
    <p>
        <em>freepost</em> can optionally store a user email address, which is only used to reset the user password. Emails are not shared with anybody and can be deleted at any time by the user.
        <br />
        <em>freepost</em> is currently hosted by <a href="https://tuxfamily.org">TuxFamily</a>. TuxFamily keeps the web server raw access logs for up to a year, as required by French laws. Read more on their <a href="https://faq.tuxfamily.org/Privacy/En">FAQ</a>.
    </p>
    <p>
        If you wish to increase your anonymity while browsing <em>freepost</em>, we suggest to use <a href="https://www.torproject.org">Tor</a> and a random email address.
    </p>
    <p>
        <em>freepost</em> does <strong>not</strong> make use of any third-party service (for example CDNs).
    </p>
    
</div>

{% include 'footer.twig' %}
