Somebody has requested to reset your freepost password.
If you want to change it, visit this link https://freepo.st/login_reset?token={{ token }}

If you did not request to change your password, just ignore this message.